body {
    background: #f8fafc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #0f172a;
  }
  
  .products {
    width: 90vw;
    display: grid;
    grid-gap: 1rem;
    margin: 4rem auto;
    max-width: 1120px;
  }
  
  .filters-container h5 {
    font-weight: 500;
    margin: 1.5rem 0 0.5rem;
    font-size: 0.85rem;
  }
  
  .search-input {
    padding: 0.5rem;
    background: #e2e8f0;
    border-radius: 0.25rem;
    border-color: transparent;
    letter-spacing: 1px;
  }
  
  .company-btn {
    display: block;
    margin: 0.25em 0;
    padding: 0.25rem;
    text-transform: capitalize;
    background: transparent;
    border-color: transparent;
    letter-spacing: 1px;
    color: #64748b;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    font-size: 0.85rem;
  }
  
  .company-btn:hover {
    color: #334155;
  }
  
  .product {
    margin-bottom: 1rem;
  }
  
  .product-img {
    border-radius: 0.25rem;
    height: 15rem;
  }
  
  .product footer {
    padding: 0.75rem 0;
    text-align: center;
  }
  
  .product-name {
    margin-bottom: 0.25rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #64748b;
  }
  
  .product-price {
    margin-bottom: 0;
    color: #334155;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
  }
  
  @media screen and (min-width: 768px) {
    .products {
      grid-template-columns: 200px 1fr;
    }
  }
  
  @media screen and (min-width: 992px) {
    .products-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
    .products-container .product-img {
      height: 10rem;
    }
    .products-container .product-name {
      font-size: 0.85rem;
    }
    .products-container .product-price {
      font-size: 0.85rem;
    }
    .product {
      margin-bottom: 0;
    }
  }
  
  @media screen and (min-width: 1170px) {
    .products-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  